@keyframes sideBarSlide-fadeIn {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes sideBarSlide-fadeOut {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes navMenuSlide-fadeIn {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes navMenuBg-fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#header {
  @include position-fixed;

}

.header__inner {
  @include flex-between;
  position: relative;
  background-color: rgba(116,99,99,0.1);
  backdrop-filter: blur(15px);
  padding: 1rem;

  .header__logo {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
  }

  .header__nav {
    @media (max-width: 825px){
      display: none;

      &.show {
        display: block;

        ul {
          flex-direction: column;
          animation: sideBarSlide-fadeIn .4s ease;
          
          position: absolute;
          right: 0;
          top: 77px;
          background-color: rgba(230,223,218,1);
          min-width: 150px;
          padding: 20px 0;
          
          &:hover .item {
            display: none;
          }
    
          &:hover .navMenuBg {
            display: none;
          }

          li {
            display: block;
            text-align: right;
  
            a {
              display: inline-block;
              padding: 10px;
            }
          }
        }
      }
    }

    ul {
      display: flex;
      li {
        a {
          font-family: var(--mainKor-font);
          font-size: 19px;
          font-weight: 500;
          padding: 5px 20px 27px 20px;
          position: relative;
    
          &::before {
            content: '';
            width: calc(100% - 28px);
            height: 1px;
            background-color: var(--black);
            position: absolute;
            left: 14px;
            bottom: 10px;
            transform: scaleX(0);
            transition: all 0.3s;
          }
  
          &:hover::before {
            transform: scaleX(1);
          }
        }
      }

      &:hover .item {
        display: block;
        
      }

      &:hover .navMenuBg {
        display: block;
      }

      .item {
        @media (max-width: 825px) {
          display: none;
        }

        animation: navMenuSlide-fadeIn .4s ease;
        height: 100%;
        display: none;
        position: relative;
        top: 35px;
        left: 1px;
        z-index: 9999;
        
        &:hover {
          display: block;
        }

        .dropDownMenu {
          
          display: inline;
          position: absolute;
          line-height: 40px;
          z-index: 10000;
          text-align: center;

          a {
            margin: 0;
            font-size: 15px;
          }
        }
      }

      .navMenuBg {
        &:hover {
          display: block;
        }
        animation: navMenuBg-fadeIn .4s ease;
        display: none;
        position: absolute;
        top: 77px;
        left: 0;
        width: 100%;
        height: 111px;
        background-color: rgba(237,230,225,1);
        z-index: 9998;
      }
    }
  }

  .icon__menu {
    li {
      display: inline;
      font-size: 30px;
      padding: 8px;
    }

    .mobileSideBar {
      display: none;

      @media (max-width: 825px){
        display: inline;
      }
    }
  }

  

  
}











